{% extends './base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <h1>All menu</h1>
    <div class="row mt-2">
        <div class='col'>
            {% for product in products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">{{ product.title }} </h5>
                  <p class="card-text">{{ product.description }}</p>
                  <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Pesan</a>
              </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Header -->

{% endblock %}

